* {
    color:#31473A;
    box-sizing: border-box;
    /* Border-box changes the box model so that padding & margins are included in the size */
}

body {
    background-color:#EDF4F2;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1rem;
}

a {
    color:#B85042;
}

h1, h2, h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:600;
}